<header>
	<h1>settings</h1>
</header>
<h2 class="center">about you</h2>
<form method="POST" action="/config/about" class="center">
	<textarea name="about" placeholder="...a-about mwe?~">{{about}}</textarea><br />
	<input type="submit" value="update" />
</form>
<br>
<h2 class="center">change password</h2>
<form method="POST" action="/config/password" class="center">
	<label for="password">current password</label><br />
	<input required name="password" type="password" /><br />
	<label for="newpass">new password</label><br />
	<input required name="newpass" type="password" /><br />
	<label for="firmpass">confirm password</label><br />
	<input required name="firmpass" type="password" /><br />
	<input type="submit" value="update" />
</form>
<br>
<h2 class="center">delete account</h2>
<form method="POST" action="/config/delete" class="center">
	<label for="password">password</label><br />
	<input required name="password" type="password" /><br />
	<input type="submit" value="delete" class="danger" />
</form>

