<!DOCTYPE html>
<html>
	<head>
		<title>imgboard::signup</title>
		<link rel="stylesheet" href="/static/main.css" />
		<link rel="stylesheet" href="/static/form.css" />
	</head>
	<body>
		<h1>welcome!</h1><br>
		<form method="POST" action="/signup">
			<label for="username">username</label><br />
			<input required name="username" type="text" /><br />
			<label for="password">password</label><br />
			<input required name="password" type="password" /><br />
			<label for="firmpass">confirm password</label><br />
			<input required name="firmpass" type="password" /><br />
			<input type="submit" value="signup" />
		</form>
	</body>
</html>

