/* for forms and input */

input, textarea {
	background: var(--background);
	color: var(--color);
	outline: none !important;
	padding: 0.5em;
	margin: 3px 0 10px 0;
	border: solid var(--accent1) 2px;
}

input[type=submit] {
	border: solid var(--accent2) 2px;
	margin-top: 1em;
	transition: all 0.2s;
}

input[type=submit]:hover, input[type=submit]:focus {
	background: var(--accent2);
}

input[type=submit].danger {
	border: solid var(--accent3) 2px;
}

input[type=submit].danger:hover, input[type=submit].danger:focus {
	background: var(--accent3);
}

textarea {
	min-height: 20em;
	min-width: 30em;
}

