/* the main css stylesheet for everything */
@import "/static/form.css";

:root {
	--background:  #111111;
	--color:       #eeeeee;
	--accent1:     #41ead4;
	--accent2:     #8963ba;
	--accent3:     #f06449;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	color: var(--color);
	font: 16px/1.4 sysem-ui;
	margin: 2em auto;
	max-width: 750px;
	overflow-y: overlay;
}

a {
	color: var(--accent1);
}

