/* the main css stylesheet for everything */
@import "/static/form.css";
@import "/static/content.css";
@import "/static/highlight.css";
@import "/static/misc.css";

:root {
	--background:  #111111;
	--background2: #1b1b1b;
	--color:       #eeeeee;
	--color2:      #cdcdcd;
	--accent1:     #41ead4;
	--accent2:     #8963ba;
	--accent3:     #f06449;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background);
	color: var(--color);
	font: 16px/1.4 system-ui;
	margin: 2em auto;
	max-width: 900px;
	overflow-y: overlay;
}

header, .center {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 2rem;
	padding: 0 2rem;
}

.error {
	color: var(--accent3);
}

