.posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fill, 300px);
}

.post {
	margin: 1em;
	min-height: 240px;
	border: solid var(--accent1) 2px;
	overflow-wrap: break-word;
	overflow: hidden;
	background-size: cover;
}

.post h2 > a {
	color: inherit;
}

.post pre {
	overflow: hidden;
}

.fineprint {
	color: var(--color2);
	margin-bottom: 1em;
}

.preview {
	padding: 1em;
	background: #111111bb;
}

.attachment {
	width: 100%;
}

